.main-rootlist-rootlistDividerGradient {
    display: none;
}

.main-rootlist-rootlistDivider {
    background-color: rgba(var(--spice-rgb-button-disabled),.8)
}

input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}

.x-833-searchInput-searchInputSearchIcon {
    color: var(--spice-text) !important;
}

.main-home-homeHeader, .x-441-entityHeader-overlay, .main-actionBarBackground-background, .main-entityHeader-overlay, .main-entityHeader-backgroundColor {
    background-color: unset !important;
    background-image: unset !important;
}

.main-playlistEditDetailsModal-textElement:focus {
    border: 0;
}

.connect-title, .connect-header {
    display: none;
}

/* Topbar visibility bug */

.main-topBar-topbarContent:not(.main-topBar-topbarContentFadeIn)>* {
    opacity: unset !important;
}

.main-entityHeader-topbarContent:not(.main-entityHeader-topbarContentFadeIn)>* {
    opacity: 0 !important;
}

/* Remove Topbar background colour */

.main-topBar-background {
    background-color: unset !important;
}

.main-topBar-overlay {
    background-color: var(--spice-main);
}

.main-trackList-playingIcon {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg id='playing-icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 24'%3E%3Cdefs%3E%3Cstyle%3E %23playing-icon %7B fill: %2320BC54; %7D @keyframes play %7B 0%25 %7Btransform: scaleY(1);%7D 3.3%25 %7Btransform: scaleY(0.9583);%7D 6.6%25 %7Btransform: scaleY(0.9166);%7D 9.9%25 %7Btransform: scaleY(0.8333);%7D 13.3%25 %7Btransform: scaleY(0.7083);%7D 16.6%25 %7Btransform: scaleY(0.5416);%7D 19.9%25 %7Btransform: scaleY(0.4166);%7D 23.3%25 %7Btransform: scaleY(0.25);%7D 26.6%25 %7Btransform: scaleY(0.1666);%7D 29.9%25 %7Btransform: scaleY(0.125);%7D 33.3%25 %7Btransform: scaleY(0.125);%7D 36.6%25 %7Btransform: scaleY(0.1666);%7D 39.9%25 %7Btransform: scaleY(0.1666);%7D 43.3%25 %7Btransform: scaleY(0.2083);%7D 46.6%25 %7Btransform: scaleY(0.2916);%7D 49.9%25 %7Btransform: scaleY(0.375);%7D 53.3%25 %7Btransform: scaleY(0.5);%7D 56.6%25 %7Btransform: scaleY(0.5833);%7D 59.9%25 %7Btransform: scaleY(0.625);%7D 63.3%25 %7Btransform: scaleY(0.6666);%7D 66.6%25 %7Btransform: scaleY(0.6666);%7D 69.9%25 %7Btransform: scaleY(0.6666);%7D 73.3%25 %7Btransform: scaleY(0.6666);%7D 76.6%25 %7Btransform: scaleY(0.7083);%7D 79.9%25 %7Btransform: scaleY(0.75);%7D 83.3%25 %7Btransform: scaleY(0.8333);%7D 86.6%25 %7Btransform: scaleY(0.875);%7D 89.9%25 %7Btransform: scaleY(0.9166);%7D 93.3%25 %7Btransform: scaleY(0.9583);%7D 96.6%25 %7Btransform: scaleY(1);%7D %7D %23bar1 %7B transform-origin: bottom; animation: play 0.9s -0.51s infinite; %7D %23bar2 %7B transform-origin: bottom; animation: play 0.9s infinite; %7D %23bar3 %7B transform-origin: bottom; animation: play 0.9s -0.15s infinite; %7D %23bar4 %7B transform-origin: bottom; animation: play 0.9s -0.75s infinite; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3Eplaying-icon%3C/title%3E%3Crect id='bar1' class='cls-1' width='4' height='24'/%3E%3Crect id='bar2' class='cls-1' x='6' width='4' height='24'/%3E%3Crect id='bar3' class='cls-1' x='12' width='4' height='24'/%3E%3Crect id='bar4' class='cls-1' x='18' width='4' height='24'/%3E%3C/svg%3E");
    background: var(--spice-button);
    content-visibility: hidden;
    -webkit-mask-repeat: no-repeat;
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
    fill: black;
}

.main-playPauseButton-button {
    background-color: var(--spice-player) !important;
}

/* Hide Banner Ads */

.main-leaderboardComponent-container {
    display: none;
}

.desktoproutes-homepage-takeover-ad-hptoComponent-parentContainer, .desktoproutes-homepage-takeover-ad-hptoComponent-container {
    display: none !important;
}

/* Hide Upgrade Button */

.main-topBar-UpgradeButton {
    display: none;
}

[aria-label="Playing"] {
    color: var(--spice-text);
}

/* Fix design fault */

@media (min-width: 1024px) {
    .main-trackList-trackListHeader {
        margin: 0 -33px 16px;
    }
}

.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
    background: var(--spice-main);
    border: 0;
}

.main-trackList-trackListHeaderStuck .main-trackList-trackListHeaderRow {
    border-bottom: 1px solid rgba(var(--spice-rgb-button-disabled),.8);
}

/* Changing Playback Bar Location */
.progress-bar__bg, .progress-bar__fg_wrapper {
    border-radius: 0;
}

.playback-bar__progress-time {
    display: none;
}

.playback-bar {
    width: 100%;
    bottom: 83px;
    position: absolute;
}

.main-playbackBarRemainingTime-container {
    display: none;
}

.player-controls__buttons {
    transform: translateY(6px);
}

.main-playPauseButton-button {
    background-color: var(--spice-main);
    box-shadow: var(--spice-shadow) 0 5px 9px 0px;
    --button-size: 43px !important;
    color: var(--spice-text);
}

.player-controls__buttons {
    align-items: center;
}

.main-entityTitle-subtitle.main-entityTitle-small.main-entityTitle-uppercase.main-entityTitle-bold {
    border: 2px var(--spice-text) solid;
    border-radius: 3px;
    width: fit-content;
    display: inline;
    text-align: center;
    padding: 0 5px;
}

.os-theme-spotify.os-host-transition>.os-scrollbar-vertical>.os-scrollbar-track>.os-scrollbar-handle {
    border-radius: 4px;
    background-color: rgba(var(--spice-rgb-button-disabled),.8);
}

/* Hide Profile Options in Nav Bar */

.main-userWidget-displayName, .main-userWidget-notificationIndicator {
    display: none;
}

.main-avatar-userIcon {
    color: white;
}

.main-userWidget-box {
    color: var(--spice-subtext);
    background-color: transparent !important;
}

/* Improve Sidebar Buttons */

.main-likedSongsButton-likedSongsIcon {
    background: var(--spice-text);
}

.main-likedSongsButton-likedSongsIcon {
    color: var(--spice-sidebar);
}

.main-trackList-trackListHeaderRow {
    border-bottom: 1px solid rgba(var(--spice-rgb-button-disabled),.8)
}

.main-trackList-trackListHeaderStuck .main-trackList-trackListHeaderRow {
    border-bottom: 1px solid rgba(var(--spice-rgb-button-disabled),.8);
}

.main-trackList-trackListRow.main-trackList-selected, 
.main-trackList-trackListRow.main-trackList-selected:hover {
    background-color: rgba(var(--spice-rgb-selected-row),.8) !important;
}

.main-trackList-trackListRow:focus-within, 
.main-trackList-trackListRow:hover {
    background-color: rgba(var(--spice-rgb-selected-row),.4);
}

.main-duplicateTracksDialog-container {
    background-color: var(--spice-card);
    color: var(--spice-subtext);
}

.main-duplicateTracksDialog-secondaryButton {
    color: var(--spice-text);
}

._9eb5acf729a98d62135ca21777fef244-scss {
    color: var(--spice-card);
}

.x-sortBox-sortDropdown,
.x-filterBox-expandButton {
    color: var(--spice-text) !important;
}

.main-yourEpisodesButton-yourEpisodesIcon {
    background: var(--spice-text);
}

.main-yourEpisodesButton-yourEpisodesIcon path {
    fill: var(--spice-sidebar);
}

.main-navBar-entryPoints > div:first-of-type {
    margin-top: 20px;
}

/* Main Play Button Change */
.main-playButton-PlayButton.main-playButton-primary {
    color: var(--spice-main);
    background-color: var(--spice-play-button);
    box-shadow: var(--spice-shadow) 0 5px 4px 0px;
}

.main-entityHeader-image {
    border-radius: 5%;
}

.x-downloadButton-button {
    box-shadow: var(--spice-shadow) 0 5px 4px 0px;
    background: var(--spice-player);
    border-radius: 50%;
}

/* Link playback-bar color */
.playback-bar .progress-bar__fg {
    background-color: var(--spice-playback-bar);
}

:not(.no-focus-outline) .progress-bar:focus-within .progress-bar__fg {
    background-color: var(--spice-playback-bar);
}

.main-navBar-navBarLinkActive {
    background-color: var(--spice-sidebar-button);
}

.main-navBar-navBarLinkActive, .main-navBar-navBarLinkActive:focus, .main-navBar-navBarLinkActive:hover, .logo {
    color: var(--spice-button-text) !important;
}

.progress-bar__slider {
    background-color: var(--spice-subtext);
}

a.x-categoryCard-CategoryCard, a.x-heroCategoryCard-HeroCategoryCard {
    color: var(--spice-subtext);
}

.main-heroCard-card a,
.collection-collectionEntityHeroCard-descriptionContainer {
    color: var(--spice-subtext) !important;
}

.main-buddyFeed-activityMetadata .main-buddyFeed-artistAndTrackName a, .main-buddyFeed-activityMetadata .main-buddyFeed-username a, .main-buddyFeed-activityMetadata .main-buddyFeed-playbackContextLink,
p.main-buddyFeed-timestamp.main-type-finale,
.main-buddyFeed-findFriendsButton .main-buddyFeed-findFriendsIcon {
    color: var(--spice-subtext);
}

/* Recolor sub-buttons */

.main-moreButton-button {
    color: var(--spice-sub-button);
}

.x-downloadButton-button {
    color: var(--spice-sub-button) !important;
}

.x-downloadButton-button:hover {
    color: var(--spice-text) !important;
}

.main-addButton-button {
    color: var(--spice-sub-button);
}

.main-entityHeader-metaDataText {
    color: var(--spice-subtext);
}

.main-duration-container {
    color: var(--spice-subtext);
}

.main-tag-container {
    background-color: var(--spice-subtext);
}

.x-sortBox-sortDropdown {
    background-color: var(--spice-selected-row) !important;
}

.x-filterBox-searchIconContainer {
    color: var(--spice-sub-button) !important;
}

.x-filterBox-expandButton:focus, .x-filterBox-expandButton:hover {
    background-color: var(--spice-selected-row) !important;
}

.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus, .main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover {
    background-color: var(--spice-selected-row) !important;
}

.view-homeShortcutsGrid-shortcut {
    background-color: rgba(var(--spice-rgb-selected-row),0.6) !important;
}

.view-homeShortcutsGrid-shortcut:focus-within, .view-homeShortcutsGrid-shortcut:hover, .view-homeShortcutsGrid-shortcut[data-context-menu-open=true] {
    background-color: var(--spice-selected-row) !important;
}

/* Confirmation Box Fix  */
.main-deleteFolderDialog-buttonContainer,
.main-deletePlaylistDialog-buttonContainer {
    justify-content: space-between !important;
}

.main-button-primary {
    background-color: rgba(var(--spice-rgb-shadow),.5);
}

/* 'See More' Button Fix */

.artist-popularTrackList-seeMore {
    color: rgba(var(--spice-rgb-text),.7);
}

/* Context Menu Fixes */
.main-contextMenu-menuItemButton.main-contextMenu-disabled {
    color: rgba(var(--spice-rgb-text),.5);
}

.main-contextMenu-menuItem:not(:first-child)>.main-contextMenu-dividerBefore:before {
    border-bottom: 1px solid rgba(var(--spice-rgb-button-disabled),.5);
}

/* .main-trackList-trackListRow.main-trackList-active .main-trackList-rowSectionVariable a,
.main-trackList-trackListRow.main-trackList-active .main-trackList-rowSectionVariable span,
.main-trackList-trackListRow.main-trackList-active .main-trackList-rowDuration {
    color: var(--spice-button) !important;
} */

.main-trackList-trackListRow.main-trackList-active .main-type-mesto,
.main-trackList-trackListRow.main-trackList-active .main-trackList-rowSubTitle a {
    color: var(--spice-button) !important;
}

.main-trackList-trackListRow.main-trackList-active .main-tag-container {
    background-color: var(--spice-button);
}

.main-playlistEditDetailsModal-textElementLabel {
    display: none;
}

.main-trackList-trackListRow.main-trackList-selected:not(.main-trackList-active) .main-tag-container,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled):not(.main-trackList-active) .main-tag-container {
    background-color: var(--spice-text);
}

.main-trackList-rowTitle {
    color: var(--spice-subtext);
}

.main-trackList-trackListRow.main-trackList-selected:not(.main-trackList-active) .main-trackList-rowTitle,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled):not(.main-trackList-active) .main-trackList-rowTitle {
    color: var(--spice-text);
}

.main-trackList-trackListRow.main-trackList-selected:not(.main-trackList-active) .main-trackList-rowSubTitle.standalone-ellipsis-one-line.main-type-mesto,
.main-trackList-trackListRow:hover:not(.main-trackList-disabled):not(.main-trackList-active) .main-trackList-rowSubTitle.standalone-ellipsis-one-line.main-type-mesto {
    color: var(--spice-text) !important;
}

.main-playlistEditDetailsModal-descriptionTextarea {
    background: var(--spice-card);
}

.main-button-primary:active, .main-button-primary:focus, .main-button-primary:hover {
    background-color: rgba(var(--spice-rgb-shadow),.5);
}

.playlist-inlineSearchBox-searchIcon {
    fill: var(--spice-text) !important;
}

.main-topBar-historyButtons .main-topBar-button {
    background-color: unset;
}

.artist-artistVerifiedBadge-badge {
    border: 2px solid var(--spice-text);
    border-radius: 3px;
    width: fit-content;
    text-align: center;
    padding: 0 5px;
}

span.artist-artistVerifiedBadge-badge path:nth-child(1)  {
    display: none;
}

span.artist-artistVerifiedBadge-badge path:last-child  {
    fill: var(--spice-text) !important;
    stroke: var(--spice-text);
}

.artist-artistVerifiedBadge-badge span {
    font-weight: bold;
}

.Svg-ulyrgf-0.dIsYZz.main-userWidget-chevron {
    display: none;
}

.x-searchInput-searchInputSearchIcon svg {
    color: var(--spice-text);
    height: 17px !important;
    stroke: var(--spice-text);
    stroke-width: 10px;
}

[role=searchbox]::placeholder {
    color: rgba(var(--spice-rgb-text),.5);
}

.main-entityHeader-shadow {
    box-shadow: 0 5px 10px rgba(var(--spice-rgb-shadow),.5) !important;
}