@import "./functions.scss";

// Cards

.main-card-card {
    @include panel(var(--panelOpacity200));

    &:hover {
        @include panel(var(--panelOpacity100));
    }

    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        border-radius: 15px;
    }
}
