button,
div[role="button"],
.main-yourLibraryX-libraryRootlist,
.main-rootlist-wrapper,
.Box__BoxComponent,
.main-trackList-trackListRowGrid {
    transition: all 1s linear(0, 0.002 0.4%, 0.008 0.9%, 0.02 1.4%, 0.035 1.9%, 0.055 2.4%, 0.083 3%, 0.11 3.5%, 0.146 4.1%, 0.206 5%, 0.287 6.1%, 0.61 10.1%, 0.74 11.8%, 0.804 12.7%, 0.863 13.6%, 0.918 14.5%, 0.962 15.3%, 1.007 16.2%, 1.043 17%, 1.074 17.8%, 1.104 18.7%, 1.126 19.5%, 1.146 20.4%, 1.162 21.3%, 1.173 22.2%, 1.181 23.3%, 1.183 24.5%, 1.18 25.8%, 1.171 27.1%, 1.159 28.3%, 1.143 29.6%, 1.053 35.8%, 1.031 37.5%, 1.014 39%, 0.997 40.8%, 0.985 42.5%, 0.975 44.3%, 0.969 46.2%, 0.966 48.6%, 0.968 51.4%, 0.974 54%, 0.997 63.1%, 1.002 66.4%, 1.005 69.8%, 1.006 75%, 1 89.6%, 1) !important;
}

.main-trackList-trackListRowGrid {
    filter: brightness(70%);
}

.main-trackList-trackListRowGrid:hover {
    scale: 1 1.05;
    filter: brightness(100%);
}

/* .view-homeShortcutsGrid-shortcut{
    scale: 1;
} */

[class^="Box__BoxComponent"],
.view-homeShortcutsGrid-shortcut {
    /* display: inline-block; */
    transition: all 1s linear(0, 0.002 0.4%, 0.008 0.9%, 0.02 1.4%, 0.035 1.9%, 0.055 2.4%, 0.083 3%, 0.11 3.5%, 0.146 4.1%, 0.206 5%, 0.287 6.1%, 0.61 10.1%, 0.74 11.8%, 0.804 12.7%, 0.863 13.6%, 0.918 14.5%, 0.962 15.3%, 1.007 16.2%, 1.043 17%, 1.074 17.8%, 1.104 18.7%, 1.126 19.5%, 1.146 20.4%, 1.162 21.3%, 1.173 22.2%, 1.181 23.3%, 1.183 24.5%, 1.18 25.8%, 1.171 27.1%, 1.159 28.3%, 1.143 29.6%, 1.053 35.8%, 1.031 37.5%, 1.014 39%, 0.997 40.8%, 0.985 42.5%, 0.975 44.3%, 0.969 46.2%, 0.966 48.6%, 0.968 51.4%, 0.974 54%, 0.997 63.1%, 1.002 66.4%, 1.005 69.8%, 1.006 75%, 1 89.6%, 1) !important;
}

[class^="Box__BoxComponent"]:hover,
.view-homeShortcutsGrid-shortcut:hover,
.main-card-imageContainer:hover {
    scale: 0.95;
    opacity: 0.8;
}

button:hover {
    scale: 1.1;
    filter: brightness(125%);
}

button:hover {
    scale: 0.95;
    filter: brightness(85%);
}

.lyrics-lyricsContent-isInteractive {
    scale: 0.7;
    opacity: 0.2;
    filter: blur(3px);
    transform-origin: top left;
    transition: all 1.5s linear(0, 0.002 0.4%, 0.008 0.9%, 0.02 1.4%, 0.035 1.9%, 0.055 2.4%, 0.083 3%, 0.11 3.5%, 0.146 4.1%, 0.206 5%, 0.287 6.1%, 0.61 10.1%, 0.74 11.8%, 0.804 12.7%, 0.863 13.6%, 0.918 14.5%, 0.962 15.3%, 1.007 16.2%, 1.043 17%, 1.074 17.8%, 1.104 18.7%, 1.126 19.5%, 1.146 20.4%, 1.162 21.3%, 1.173 22.2%, 1.181 23.3%, 1.183 24.5%, 1.18 25.8%, 1.171 27.1%, 1.159 28.3%, 1.143 29.6%, 1.053 35.8%, 1.031 37.5%, 1.014 39%, 0.997 40.8%, 0.985 42.5%, 0.975 44.3%, 0.969 46.2%, 0.966 48.6%, 0.968 51.4%, 0.974 54%, 0.997 63.1%, 1.002 66.4%, 1.005 69.8%, 1.006 75%, 1 89.6%, 1);
}

.lyrics-lyricsContent-isInteractive:hover {
    opacity: 1;
    filter: blur(0px);
    scale: 0.8 0.7;
}


.lyrics-lyricsContent-active {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    opacity: 1;
    transform-origin: top left;
    transition: all 1.5s linear(0, 0.002 0.4%, 0.008 0.9%, 0.02 1.4%, 0.035 1.9%, 0.055 2.4%, 0.083 3%, 0.11 3.5%, 0.146 4.1%, 0.206 5%, 0.287 6.1%, 0.61 10.1%, 0.74 11.8%, 0.804 12.7%, 0.863 13.6%, 0.918 14.5%, 0.962 15.3%, 1.007 16.2%, 1.043 17%, 1.074 17.8%, 1.104 18.7%, 1.126 19.5%, 1.146 20.4%, 1.162 21.3%, 1.173 22.2%, 1.181 23.3%, 1.183 24.5%, 1.18 25.8%, 1.171 27.1%, 1.159 28.3%, 1.143 29.6%, 1.053 35.8%, 1.031 37.5%, 1.014 39%, 0.997 40.8%, 0.985 42.5%, 0.975 44.3%, 0.969 46.2%, 0.966 48.6%, 0.968 51.4%, 0.974 54%, 0.997 63.1%, 1.002 66.4%, 1.005 69.8%, 1.006 75%, 1 89.6%, 1);
    scale: 1 !important;
    filter: blur(0px);
}

.lyrics-lyricsContent-highlight {
    opacity: 0.4;
    scale: 0.8 !important;
    filter: blur(0px);
    transition: all 1.5s linear(0, 0.002 0.4%, 0.008 0.9%, 0.02 1.4%, 0.035 1.9%, 0.055 2.4%, 0.083 3%, 0.11 3.5%, 0.146 4.1%, 0.206 5%, 0.287 6.1%, 0.61 10.1%, 0.74 11.8%, 0.804 12.7%, 0.863 13.6%, 0.918 14.5%, 0.962 15.3%, 1.007 16.2%, 1.043 17%, 1.074 17.8%, 1.104 18.7%, 1.126 19.5%, 1.146 20.4%, 1.162 21.3%, 1.173 22.2%, 1.181 23.3%, 1.183 24.5%, 1.18 25.8%, 1.171 27.1%, 1.159 28.3%, 1.143 29.6%, 1.053 35.8%, 1.031 37.5%, 1.014 39%, 0.997 40.8%, 0.985 42.5%, 0.975 44.3%, 0.969 46.2%, 0.966 48.6%, 0.968 51.4%, 0.974 54%, 0.997 63.1%, 1.002 66.4%, 1.005 69.8%, 1.006 75%, 1 89.6%, 1);
}