:root,
.encore-dark-theme,
.encore-base-set,
.encore-inverted-light-set {
  --background-highlight: rgba(var(--spice-rgb-highlight), 0.25) !important;
}
.main-nowPlayingBar-container {
  background-color: var(--background-base);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--spice-text);
}
