/*Thinner scrollbar*/
::-webkit-scrollbar {
  height: 6px !important;
  width: 0px !important;
  background-color: transparent;
}

.gc-label-text {
  color: #fafafa;
}

#view-leaderboard-ad {
  display: none !important;
}