.Re403AJffPPuZmX7LRJj {
    margin-left: 0px; 
    margin-right: 0px;
}


.AEfhRyqGa3vzQrgfdwWE .Re403AJffPPuZmX7LRJj {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 40px;
}